.screen {
    border: aqua 2px solid;
    border-radius: 10px;
    margin-top: 10px;
    height: 150px;
    width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.span {
    font-size: 70px;
    font-weight: bold;
    color: aqua;
}
.spanRed {
    font-size: 70px;
    font-weight: bold;
    color: red;
}
.redText {
    font-size: 25px;
    font-weight: bold;
    color: red;
}
.setText {
    font-size: 25px;
    font-weight: bold;
    color: aqua;
}