.screen {
    background-color: #282c34;
    border: aqua 2px solid;
    border-radius: 10px;
    height: 150px;
    position: absolute;
    right: 10px;
    left: 10px;
    top: 10px;
}

.span {
    font-size: 100px;
    font-weight: bold;
    color: aqua;
    position: absolute;
    left: 40%;
}

.span-red {
    font-size: 100px;
    font-weight: bold;
    color: red;
    position: absolute;
    left: 40%;
}