.buttonInc {
    border-radius: 10px;
    width: 185px;
    height: 55px;
    position: absolute;
    left: 10px;
    top: 170px;
    font-size: 40px;
    font-weight: bold;
    color: #282c34;
}

.buttonRes {
    border-radius: 10px;
    width: 185px;
    height: 55px;
    position: absolute;
    right: 10px;
    top: 170px;
    font-size: 40px;
    font-weight: bold;
    color: #282c34;
}

.buttonSet {
    border-radius: 10px;
    width: 380px;
    height: 55px;
    position: absolute;
    left: 10px;
    top: 170px;
    font-size: 40px;
    font-weight: bold;
    color: #282c34;
}