.buttonInc {
    border-radius: 10px;
    width: 185px;
    height: 55px;
    font-size: 40px;
    font-weight: bold;
    color: #282c34;
}

.buttonRes {
    border-radius: 10px;
    width: 185px;
    font-size: 40px;
    font-weight: bold;
    color: #282c34;
}

.buttonSet {
    border-radius: 10px;
    width: 100%;
    height: 55px;
    font-size: 40px;
    font-weight: bold;
    color: #282c34;
}