.setScreen {
    background-color: #282c34;
    border: aqua 2px solid;
    border-radius: 10px;
    height: 150px;
    position: absolute;
    right: 10px;
    left: 10px;
    top: 10px;
}

.startText {
    font-size: 25px;
    font-weight: bold;
    color: aqua;
    position: absolute;
    top: 35px;
    left: 10px;
}

.maxText {
    font-size: 25px;
    font-weight: bold;
    color: aqua;
    position: absolute;
    bottom: 35px;
    left: 10px;
}

.input {
    outline: none;
    border: aqua 2px solid;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin-left: 40px;
}

.error {
    outline: none;
    background-color: tomato;
    border: red 3px solid;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin-left: 40px;
}
